<div ng-controller="ObjectsController" class="height100">
      <div class="col-sm-12">
	      <ul class="nav nav-tabs">
		      <li role="presentation" ng-class="{'active': active.cockpitActive}">
			      <a ng-href="#/cockpit">Cockpit</a>
		      </li>
		      <li role="presentation" class="active">
			      <a ng-href="#/objects">Objekte</a>
		      </li>
		      <li role="presentation" ng-class="{'active': active.clientsActive}">
			      <a ng-href="#/clients">Kunden</a>
		      </li>
		      <li role="presentation" ng-class="{'active': active.contractsActive}">
			      <a ng-href="#/contracts">Verträge</a>
		      </li>
		      <li role="presentation" ng-class="{'active': active.processingActive}">
			      <a ng-href="#/processing">Auftragsbearbeitung</a>
		      </li>
		      <li role="presentation" ng-class="{'active': active.datesActive}">
			      <a ng-href="#/dates">Stammdaten</a>
		      </li>
		      <div class="col-sm-4 font-small" style="position: absolute; right: 0; bottom: 0; ">
			      <div class="col-sm-5 borderRightColor">
					<a ng-href="#/mandant" class="underline topMenu">Mandant</a>
			      </div>
			      <div class="col-sm-4 borderRightColor">
					<a ng-href="#/user" class="underline topMenu">User</a>
			      </div>
			      <div class="col-sm-3" style="">
					<a ng-href="#/logout" class="underline topMenu">Logout<i class="fa fa-sign-out pull-right" aria-hidden="true" style="margin-top: 3.9%;"></i></a>
			      </div>
		      </div>
	      </ul>  
      </div>
      <div class="col-sm-12 height85">
	        <div>
			<ul class="nav nav-pills borderBottom borderLeft borderRight height10">
				<li role="presentation" ng-class="{'active': object.active.liste}"><a ng-href="#/objects">Liste</a></li>
				<li ng-if="object.active.liste" role="presentation" ng-class="{'active': object.active.object}"><a ng-href="#/objects/{{ object.urlId }}">Objekt</a></li>
				<li ng-if="object.active.liste != true" role="presentation" ng-class="{'active': object.active.object}"><a ng-href="#/objects/{{ object.urlId }}" ng-click="object.activeChange('object')" class="cursorPointer">Objekt</a></li>
				<li role="presentation" ng-class="{'active': object.active.details, 'disabled': object.active.liste}"><a ng-click="object.activeChange('details')" class="cursorPointer">Details</a></li>
				<li role="presentation" ng-class="{'active': object.active.document, 'disabled': object.active.liste}"><a ng-click="object.activeChange('document')" class="cursorPointer">Dokumente</a></li>
				<li role="presentation" ng-class="{'active': object.active.contracts, 'disabled': object.active.liste}"><a ng-click="object.activeChange('contracts')" class="cursorPointer">Verträge</a></li>
				<li role="presentation" ng-class="{'active': object.active.tickets, 'disabled': object.active.liste}"><a ng-click="object.activeChange('tickets')" class="cursorPointer">Tickets</a></li>
				<button ng-if="object.active.liste != true" type="button" class="btn btn-default btn-sm pull-right marginRight1 marginTop04">Drücken</button>
				<button ng-if="object.active.liste != true" type="button" class="btn btn-default btn-sm pull-right marginRight05 marginTop04">Speichern</button>
				<button ng-if="object.active.liste != true" type="button" class="btn btn-primary btn-sm pull-right marginRight05 marginTop04">Bearbeiten</button>
			</ul>
	        </div>
	        <div class="background-colorLightPink borderBottom borderLeft borderRight height4">
			<a ng-if="object.bottomLinks" ng-href="#/objects" class="marginLeft1 colorBlack font-small" style="margin-top: 5px;">Objekt
			<i class="fa fa-toggle-right" aria-hidden="true"></i></a>
			<span ng-if="object.urlId != 0">
				<a ng-if="object.bottomLinks" ng-href="#/objects/{{ object.urlId }}" ng-click="object.activeChange('object')" class="marginLeft1 colorBlack font-small" style="margin-top: 5px;">{{ object.data.name }} OID: {{ object.data.objectId }}</i></a>
			</span>
	        </div>
	        <div ng-if="object.active.liste" class="height85">
			<div class="col-sm-5 pull-left height85">
			      <div class="col-sm-12 height5">
			      </div>
			      <div class="col-sm-12 height5">
			      </div>
			      <div class="col-xs-4 height5">
				      Objekt ID
			      </div>
			      <div class="col-xs-8">
				      <input ng-model="object.id" ng-keyup="search()" type="text" class="width90">
			      </div>
			      <div class="col-sm-12 height3">
			      </div>
			      <div class="col-xs-4 height5">
				      Objekt Name
			      </div>
			      <div class="col-xs-8">
				      <input ng-model="object.name" ng-keyup="search()" type="text" class="width90">
			      </div>
			      <div class="col-sm-12 height3">
			      </div>
			      <div class="col-sm-12 height5">
			      </div>
			      <div class="col-xs-4 height5">
				      Freitextsuche
			      </div>
			      <div class="col-xs-8">
				      <input ng-model="object.text" ng-keyup="search()" type="text" class="width90">
			      </div>
			</div>
			<div class="col-sm-7 pull-right height85">
				<div class="col-sm-12 height5">
				</div>
				<div class="col-sm-12 height5">
				</div>
				<table class="table table-striped table-bordered" cellspacing="0" width="90%">
					<thead>
						<th style="text-align: left;"><a href="#/objects" ng-click="object.sort('name')">Objekt Name
						<i ng-class="{'fa fa-fw fa-unsorted pull-right': object.sortType == 'id', 'fa fa-fw fa-sort-desc pull-right': object.sortType == 'name' && object.sortDesc, 'fa fa-fw fa-sort-up pull-right': object.sortType == 'name' && object.sortAsc}"></i>
						</a></th>
						<th style="text-align: left;"><a href="#/objects" ng-click="object.sort('id')">Objekt ID
						<i ng-class="{'fa fa-fw fa-unsorted pull-right': object.sortType == 'name', 'fa fa-fw fa-sort-desc pull-right': object.sortType == 'id' && object.sortDesc, 'fa fa-fw fa-sort-up pull-right': object.sortType == 'id' && object.sortAsc}"></i>
						</a></th>
					</thead>
					<tbody class="font-small">
						<tr ng-repeat="item in object.list | orderBy: object.sortType: object.sortReverse">
							<td>{{item.name}}</td>
							<td><a ng-href="#/objects/{{item.id}}">{{item.objectId}}</td>
						</tr>
					</tbody>
				</table>
			</div>
	        </div>
	        <div ng-if="object.active.object" class="col-sm-12 height60">
			<div class="col-sm-12 height3">
			</div>
			<div class="col-sm-12 height3">
			</div>
			<div class="col-sm-12 height3">
			</div>
			<div class="col-sm-12 height3">
			</div>
			<div class="col-sm-4 pull-left height85">
				 <div class="col-sm-3 pull-left">
					<p class="marginTop4">Objektname:</p>
				 </div>
				 <div class="col-sm-9 pull-right">
					<input ng-model="object.data.name" type="text" class="width90">
				 </div>
				 <div class="col-sm-12 height5">
				 </div>
				 <div class="col-sm-3">
					<p>Objekt ID:</p>
				 </div>
				 <div class="col-sm-9 pull-right">
					<p>{{ object.data.objectId }}</p>
				 </div>
				 <div class="col-sm-12 height3">
				 </div>
				 <div class="col-sm-3">
					<p class="marginTop4">Straße</p>
				 </div>
				 <div class="col-sm-9 pull-right">
					<input ng-model="object.data.street" type="text" class="width90">
				 </div>
				 <div class="col-sm-12 height3">
				 </div>
				 <div class="col-sm-3">
					<p class="marginTop4">PLZ</p>
				 </div>
				 <div class="col-sm-9 pull-right">
					<input ng-model="object.data.zip" type="text" class="width90">
				 </div>
				 <div class="col-sm-12 height3">
				 </div>
				 <div class="col-sm-3">
					<p class="marginTop4">Ort</p>
				 </div>
				 <div class="col-sm-9 pull-right">
					<input ng-model="object.data.city" type="text" class="width90">
				 </div>
			</div>
			<div class="col-sm-4 pull-left height85" style="background-color: red">
				 <div class="col-sm-12 height5">
					<div class="col-sm-4 pull-left">
						<p class="marginTop4">Anlagen Art</p>
					</div>
					<div class="col-sm-8 pull-right">
						<select ng-if="object.urlId != '0'" ng-model="object.data.art" ng-options="single as single.name for single in object.art track by single.id" class="form-control">
						</select>
						<select ng-if="object.urlId == '0'" ng-model="object.data.art" ng-init="object.data.art ='bw'" class="form-control">
							<option value="bw">Bitte wählen</option>
							<option ng-repeat="item in object.art" value="{{item.id}}">{{item.name}}</option>
						</select>
					</div>
					<div class="col-sm-12 height10">
					</div>
					<div class="col-sm-4 pull-left">
						<p class="marginTop4">Gebäude Art</p>
					</div>
					<div class="col-sm-8 pull-right">
						<select ng-if="object.urlId != '0'" ng-model="object.data.building" ng-options="single as single.name for single in object.building track by single.id"  class="form-control">
						</select>
						<select ng-if="object.urlId == '0'" ng-model="object.data.building" ng-init="object.data.building ='bw'" class="form-control">
							<option value="bw">Bitte wählen</option>
							<option ng-repeat="item in object.building" value="{{item.id}}">{{item.name}}</option>
						</select>
					</div>
				 </div>
			</div>
			<div class="col-sm-4 pull-left height85" style="background-color: green">
				 <div class="col-sm-12 height5">
				 </div>
			</div>
	        </div>
      </div>
</div>